# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments & secrets
.env
.venv
env/
venv/

# OS artifacts
.DS_Store
Thumbs.db
*.tmp
